/* 기존 스타일 유지 */

/* 결과 페이지에 대한 추가 스타일 */
#result, #seconds {
    font-size: 18px;
    color: #000000; /* Steel Blue color */
    margin: 10px 0;
  }
  
  #reviewLink {
    display: inline-block;
    background-color: #4682B4; /* Steel Blue color */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
  }
  
  #reviewLink:hover {
    background-color: #4169E1; /* Royal Blue color */
  }

  h2 {
    color: #4682B4; /* 철갑청색 */
  }